@font-face {
    font-family: myFont;
    src: url(fonts/ChettaVissto.ttf)
}

@font-face {
    font-family: Begifta;
    src:url(fonts/Begifta.ttf)
}

body {
    min-height: 100vh;
    font-family: Georgia;
    color:#494949;
}

/* navigation bar styling */
nav {
    background-color: #c3d8fc37;
}
.navbar-brand img {
    margin-left:30px;
}

.navbar-nav {
    gap:40px;
    font-size:22px;
    margin-right:20px;
}
.navbar-nav .nav-item .nav-link {
    color:#494949;
    font-variant: small-caps;
}

.navbar-nav .nav-link.active {
  color: black;
  text-shadow: 3px 2px 2px #b9b7b7;
  
}
.navbar-nav .nav-item:hover {
    transform: scale(1.2);
    transition: ease 1.0s;
    border-bottom: 2px solid #494949;
}

/* styling for the rest of the content for various pages */
.row img,
.image img {
    border-radius: 150px 30px 150px 30px;
    text-align: center;
}

.row {
    margin-top: 50px;
    justify-content: space-between;
}

.name h1 {
    font-size: 70px;
    font-family: myFont;
    text-shadow: 3px 3px #c1c1c1;
    margin-bottom:40px;
    text-align: center;
}

.cover-letter {
    background: #c3d8fc37;
    padding:60px;
    line-height: 1.3;
    border-radius: 10px;
    font-family: Georgia;
    text-align: justify;
}


.container-fluid h2 {
    font-family:Begifta;
    text-shadow: 2px 2px #c1c1c1;
    margin-bottom:20px;
    text-align: center;
}

.column-1,
.column-2,
.column-3 {
    background-color: #c3d8fc37;
    padding: 20px;
    border-radius: 10px;
}

.experience {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.job-1,
.job-2,
.job-3 {
    display: flex;
    gap:20px;
}

.job-1-left,
.job-2-left,
.job-3-left {
    flex:1;
}

.job-1-right,
.job-2-right,
.job-3-right {
    flex:2;
}

ul {
    padding-left:20px;
    margin-top:6px;
}

.experience li {
    text-align: justify;
}

.column-2 h4 {
    margin-top: 20px;
    margin-bottom: 6px;
}

.column-3 .skills {
    list-style-type: none;
}

.column-3 .languages {
    margin-top:40px;
}

.column-3 p,
.column-3 li {
    text-align: center;
    margin:4px;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
    margin-top:30px;
}

.contact-detail .name h1 {
    font-size: 70px;
    font-family: myFont;
    text-shadow: 3px 3px #c1c1c1;
}

.contact-detail .contact h2 {
    font-size:30px;
    font-family: myFont;
    margin:10px;

}
a i {
    font-size:46px;
    color:#494949;
    margin: 10px 10px 10px 30px;
}

a i:hover {
    transform: scale(1.2);
    transition:0.5s ease;
}

/* additional media queries to tidy up navigation bar as the hover pseudocode causes elements to overflow */
@media (max-width:1200px){
    .container-fluid h2 {
        font-size:28px;
}
}

@media (max-width:992px){
    .navbar-nav .nav-item:hover {
        transform: none;
        transition: none;
        border-bottom: none;
    }
    .navbar-brand img {
        margin-left:0px;
    }
}

@media (max-width:576px){
    .cover-letter {
        margin: 2.5rem;
        padding: 30px;
    }
    .column-2,
    .column-3 {
        margin: 8px;
    }
}
