@font-face {
    font-family: myFont;
    src: url(../fonts/ChettaVissto.ttf)
}

@font-face {
    font-family: Begifta;
    src:url(../fonts/Begifta.ttf)
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0px;
}

/* HOMEPAGE STYLING */
img {
    height:400px;
    width:auto;
    border-radius: 150px 30px 150px 30px;
}

.main {
    display: flex;
    justify-content: center;
    color:#494949;
}

.left-column,
.right-column {
    width: 50%;
    padding:20px;
}

.right-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-letter {
    width:500px;
    background: #c3d8fc37;
    padding:60px;
    line-height: 1.3;
    border-radius: 10px;
    font-family: Georgia;
    text-align: justify;
    
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
}

.left-column .name h1 {
    font-size: 70px;
    font-family: myFont;
    text-shadow: 3px 3px #c1c1c1;
}

.left-column .contact h2 {
    font-size:30px;
    font-family: myFont;
    margin:10px;

}

/* HEADER STYLINGS FOR BOTH PAGES */
header {
    padding:10px;
    background-color:#c3d8fc37;
}

a i {
    font-size:40px;
    color:#494949;
    float: right;
    margin: 10px 10px 10px 30px;

}

nav .cv,
nav .home {
    font-size:22px;
    float: left;
    color:#494949;
    text-decoration: none;
    margin: 14px 40px 0px 14px;

}
nav a:hover {
    transform: scale(1.1);
    transition:0.5s ease;
    border-bottom: 2px solid #494949;
}

nav i:hover {
    transform: scale(1.2);
    transition:0.5s ease;
}

nav a.active {
    color:#21478e;
}

/* CV PAGE STYLING */

.content {
    display: flex;
    padding:40px;
    color:#494949;
    gap:10px;
}

.content h2 {
    font-family:Begifta;
    text-shadow: 2px 2px #c1c1c1;
    margin:0px;
}

.column-1,
.column-2,
.column-3 {
    background-color: #c3d8fc37;
    padding: 20px;
    border-radius: 10px;
}

.column-1 {
    width: 50%;
}

.column-2 {
    width: 30%;
    align-self: baseline;
}

.column-3 {
    width: 20%;
    align-self: baseline;
}

.content h2 {
    text-align: center;
    margin-bottom:20px;
}

.experience {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.job-1,
.job-2,
.job-3 {
    display: flex;
    gap:20px;
    font-family:Georgia;
}

.job-1-left,
.job-2-left,
.job-3-left {
    flex:1;
}

.job-1-right,
.job-2-right,
.job-3-right {
    flex:2;
}

.experience h4,
.experience p {
    margin:5px;
}

ul {
    padding-left:20px;
    margin-top:6px;
}

.experience li {
    text-align: justify;
}

.column-2 p {
    margin:0px;
}

.column-2 h3 {
    margin-top: 20px;
    margin-bottom: 6px;
}

.column-3 .skills {
    list-style-type: none;
}

.column-3 .languages {
    margin-top:40px;
}

.column-3 p,
.column-3 li {
    text-align: center;
    margin:4px;
}

/* MEDIA QUERIES */
@media (max-width:992px){
    .main {
            flex-wrap: wrap;
    }

    .left-column,
    .right-column {
            width: 90%;
    }

    .cover-letter {
        width: 600px;
    }

    .content {
        flex-wrap:wrap;
    }

    .column-2,
    .column-3 {
        flex:1;
    }

    .column-2 {
        align-self: stretch;
    }
}

@media (max-width:768px){
    .main {
        flex-wrap: wrap;
    }

    .left-column,
    .right-column {
        width: 90%;
    }

    .cover-letter {
        width:450px;
    }
    
    .content {
        flex-wrap: wrap;
    }

    .column-1 {
        width:100%;
    }

    .column-2,
    .column-3 {
        width:50%;
    }

    .column-3 {
        align-self: stretch;
    }

   
}